

/* header css */
/* narrow screen */
.header_narrow {
  border-style: solid;
  border-width: 0px;
  border-bottom-width: 2px;

  border-bottom-color: black;
}

.header_narrow > * {
  display: flex;
  justify-content: center;
}

.contactInfo_narrow img {
  width: 5vh;
}

.contactInfo_narrow img {
  width: 8vh;
  filter: brightness(0%);
}

.contactInfo_narrow img:hover {
  filter: brightness(100%);
}

/* wide screen */
.header_wide {
  display: flex;
  align-items: center;
  justify-content: space-between;

  border-style: solid;
  border-width: 0px;
  border-bottom-width: 2px;

  border-bottom-color: black;
}

.header_wide h1 {
  padding-left: 30px;
}

.contactInfo_wide img {
  width: 8vh;
  filter: brightness(0%);
}

.contactInfo_wide img:hover {
  filter: brightness(100%);
}
