@import url('https://fonts.googleapis.com/css2?family=Red+Hat+Display&display=swap');

body{
  margin: 0;
  padding: 0;
  overflow: hidden;
}

body *{
  margin: 0;
  padding: 0;
}

button {
  border: none;
  outline-style: none;

  font: inherit;
  background: none;

  cursor: pointer;
}

button :hover{
  text-decoration: underline;
}

/* wide screen */
.header_wide {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: black;

  border-width: 0px;

  min-height: 60px;
}

.header_wide * {
  font-family: 'Caladea';
  color: white;

  margin-left: 0.5em;
  margin-right: 0.5em;
}

.header_wide h4 {
  margin-left: 0em;
  color: #c4c4c4;
}

.header_wide img{
  width: 40px;
  height: auto;
}

.header_container {
  display: flex;
  align-items: center;
}

.content_wide {
  padding-top: 60px;
  height: 100%;
  width: 100%;
  overflow-y: scroll;

  display: flex;
  flex-direction: column;
}



/* narrow screen */
.header_narrow {
  display: flex;
  justify-content: space-between;
  background-color: black;

  border-style: solid;
  border-width: 0px;
  border-bottom-width: 2px;

  border-bottom-color: black;
}

.header_narrow h1{
  margin-top: 10px;
  margin-bottom: 10px;

  font-family: 'Caladea';
  color: white;
}

.header_narrow h2{
  width: 50px;

  margin-top: 10px;
  margin-bottom: 10px;

  text-align: center;

  color: white;
}

.empty{
  width: 50px;
}

.sampleContainer_narrow{
  display: flex;
  flex-direction: column;
}

.sample_narrow {
  outline-style: none;
  border-style: none;
}

.sample_narrow video{
  margin: 20px 0;
  width: 90%;

  box-shadow: 0 0 1px 1px black;
}

.sample_narrow video:hover{
  box-shadow: 0 0 5px 2px black;
}

.expandedMenu {
  position: absolute;

  width: 250px;
  height: 100vh;

  border-style: solid;
  border-width: 0;
  border-right-width: 2px;

  box-shadow: 0 0 2px 0px;

  background-color: #ededed;
  z-index: 1;
}

.expandedMenu button{
  width: 100%;
}

.cross h3{
  width: 50px;

  margin-top: 5px;
  font-size: 40px;

  font-size: 30px;
}

.expandedMenu h2{
  margin-top: 20px;
  margin-left: auto;
  margin-right: 30px;

  font-family: 'Red Hat Display';
  font-size: 30px;
  text-align: right;
}

.expandedMenu a{
  text-decoration: none;
  color: inherit;
}

.expandedMenu a:visited {
  color: inherit;
}

.contactInfo_narrow {
  display: flex;
  justify-content: flex-end;
  margin-right: 30px;

}

.contactInfo_narrow img {
  width: 50px;
  filter: brightness(0%);
  transition: filter 0.25s;
}

.contactInfo_narrow img:hover {
  filter: brightness(100%);
}
